section .ui.segment {
  background: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

section .ui.loading.segment {
  color: inherit !important;
}

.search-results {
  width: 100%;
}

/* PAGINATION */

.search-results__pagination--flex {
  display: flex;
  justify-content: center;
}

.ui.pagination.menu {
  margin-top: 1rem;
  margin-bottom: 1.5rem !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  height: 40px;
  padding: 0px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 0px;
}

.ui.menu .item:before {
  background: black;
}

.ui.pagination.menu .active.item {
  background: rgb(0, 30, 255);
  color: white;
}

.ui.pagination.menu .item {
  outline: none;
  font-weight: bolder;
}
.ui.pagination.menu .item:hover {
  background: rgb(0, 30, 255, 0.6);
  color: white;
}
